@model BrothersGYM.Models.Ventum

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Ventum</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Idventa" />
            <div class="form-group">
                <label asp-for="Idempleado" class="control-label"></label>
                <select asp-for="Idempleado" class="form-control" asp-items="ViewBag.Idempleado"></select>
                <span asp-validation-for="Idempleado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idproducto" class="control-label"></label>
                <select asp-for="Idproducto" class="form-control" asp-items="ViewBag.Idproducto"></select>
                <span asp-validation-for="Idproducto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idcliente" class="control-label"></label>
                <select asp-for="Idcliente" class="form-control" asp-items="ViewBag.Idcliente"></select>
                <span asp-validation-for="Idcliente" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Pago" class="control-label"></label>
                <input asp-for="Pago" class="form-control" />
                <span asp-validation-for="Pago" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
