@model BrothersGYM.Models.Jornadum

@{
    ViewData["Title"] = "Create";
}
<h4 class="text-center">Agregando una nueva jornada a: @ViewBag.Nombre</h4>
<h4 class="text-center">
    Puesto: @ViewBag.Puesto Pago Hora: <span id="PagoHora">@ViewBag.PagoHora </spa>
</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idempleado" class="control-label"></label>
                <input asp-for="Idempleado" class="form-control" value="@ViewBag.EmpleadoId"
                       readonly />
            </div>
            <div class="form-group">
                <label asp-for="DiaHoraEntrada" class="control-label"></label>
                <input asp-for="DiaHoraEntrada" class="form-control" />
                <span asp-validation-for="DiaHoraEntrada" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaHoraSalida" class="control-label"></label>
                <input asp-for="DiaHoraSalida" class="form-control" />
                <span asp-validation-for="DiaHoraSalida" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HorasTrabajadas" class="control-label"></label>
                <input asp-for="HorasTrabajadas" class="form-control" type="number"
                       id="HorasTrab" />
                <span asp-validation-for="HorasTrabajadas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SalarioBruto" class="control-label"></label>
                <input asp-for="SalarioBruto" class="form-control" readonly id="Salario" />
                <span asp-validation-for="SalarioBruto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            document.querySelector("#HorasTrab").addEventListener('focusout', () => {
                let horas = document.getElementById("HorasTrab").value;

                let precio = document.getElementById("PagoHora").textContent;

                let total = parseFloat(precio) * parseFloat(horas);
                document.getElementById("Salario").value = total;
                var intro = document.getElementById('Salario');
                intro.style.backgroundColor = '#FF69B4';
            })
            document.querySelector("#HorasTrab").addEventListener('focusin', () => {
                var intro = document.getElementById('Salario');
                intro.style.backgroundColor = '#e9ecef';
            })
        });
    </script>
}